@font-face {
  font-family: "Proxima Nova";
  src: url("/css/fonts/proxima-nova-regular.woff2");
  font-weight: regular;
  src: url("/css/fonts/proxima-nova-bold.woff2");
  font-weight: bold;
}

html * {
  font-family: "Proxima Nova", "helvetica neue", helvetica, arial, sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
  background-color: rgb(245, 245, 245);
}

.header {
  overflow: hidden;
  background-color: black;
  padding: 10px 5px;
  width: 100%;
}

/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 4px 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: white;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
  padding: 3px 30px;
}

.header-right {
  float: right;
}

.content {
  height: 100%;
}
